.containerEntity {
	display: flex;
	flex-direction: row;
	padding: 54px;
	.iconImg {
		width: 15%;
		img {
			width: fit-content;
			object-fit: cover;
			border-radius: 75px;
			width: 150px;
			height: 150px;
		}
	}
	.rightBlock {
		display: flex;
		flex-direction: column;
		width: 100%;
		.topBlock {
			display: flex;
			flex-direction: row;
			justify-content: space-between;
			padding: 25px;
			p {
				font-size: 30px;
			}
		}
		.mainInfo {
			padding: 25px;
			font-size: 28px;
			font-weight: 300;
		}
	}
	.footerInfo {
		display: flex;
		flex-direction: row;
		justify-content: space-around;
		justify-content: flex-end;
		font-size: 25px;
		font-weight: 300;
		p {
			padding: 15px;
			color: #686868
		}
	}
}
