.containerTask {
	padding: 25px;
	.navTasks {
		display: flex;
		flex-flow: row wrap;
		padding: 25px;
		gap: 30px;
		.addTask {
			margin-left: auto;
			background-color: rgb(88 128 188);
			color: white;
		}
		a {
			padding: 10px;
			border-radius: 14px;
			border: 2px solid rgb(88 128 188);
		}
	}
	.tasksDiv {
		padding: 10px;
		button {
			border: 1px solid black;
			border-radius: 8px;
			padding: 15px;
		}
	}
	.addTasks {
		display: flex;
		gap: 20px;
		padding: 15px;
		.inputTasks {
			border: 1px solid black;
			padding: 15px;
			border-radius: 8px;
		}
	}
}
