.containerAccount {
	display: flex;
	flex-direction: row;
	gap: 30px;
	justify-content: space-between;
	height: 100%;
	padding: 20px;

	.navBlock {
		width: 20%;
	}
	.infoBlock {
		border-radius: 14px;
		height: 95vh;
		width: 80%;
		background: rgb(243 243 251);
	}
}
