.container {
	justify-content: center;
	padding: 140px;
	.autorizeDiv {
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		border-radius: 8px;
		> .leftBlock {
			text-align: center;
			padding: 10px;
			> .iconDiv {
				display: flex;
				align-items: center;
				justify-content: center;
				> img {
					width: 80px;
				}
				> p {
					font-size: 36px;
					font-weight: 800;
				}
			}
			> .iconText {
				font-size: 28px;
				padding-top: 22px;
				line-height: 28px;
				font-weight: 500;
			}
			> .buttonAccoint {
				padding: 20px;
				border: 1px solid black;
			}
		}
		> .rightBlock {
			display: flex;
			flex-direction: column;
			padding: 40px;
			gap: 50px;
			text-align: center;
			background: #f3f3fb;
			border-radius: 24px;

			.buttons {
				display: flex;
				justify-content: center;
				width: 400px;
				height: 100px;
				background: rgb(88 128 188);
				outline: none;
				border-radius: 24px;
				font-size: 24px;
				color: white;
			}
			.buttons:hover {
				background: #4654eb;
				color: white;
			}
		}
	}
	.containerInfoBlock {
		background: rgb(243 243 251);
		margin-top: 50px;
		border-radius: 14px;

		> .infoBlock {
			display: grid;
			grid-template-columns: 1fr 1fr;
			border-radius: 14px;
			padding: 40px;
			gap: 10px;
			width: 100%;
			.imgPost {
				border-radius: 14px;
			}
			.infoTextPost {
				padding-left: 30px;
				display: flex;
				flex-direction: column;
				gap: 25px;
				h1 {
					font-size: 30px;
					font-weight: bold;
				}
				ul {
					padding-left: 25px;
					list-style-type: disc;
					font-weight: bold;
				}
				p {
					font-weight: bold;
				}
			}
		}
	}
	.start {
		padding: 30px;
		text-align: center;

		button {
			color: white;
			width: 400px;
			height: 120px;
			border-radius: 14px;
			padding: 30px;
			background: #4654eb;
			font-size: 34px;
		}
	}
}
