.container {
	justify-content: center;
	.autorizeDiv {
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		padding: 140px 140px 380px 140px;
		background-image: url("../../../public/home.png");
		background-size: 80%;
		> .leftBlock {
			text-align: center;
			padding: 10px;
			> .iconDiv {
				display: flex;
				align-items: center;
				justify-content: center;
				gap: 12px;
				> img {
					width: 80px;
				}
				> p {
					letter-spacing: 0.05em;
					font-size: 36px;
					font-weight: 800;
					cursor: default;
				}
			}
			> .iconText {
				font-size: 28px;
				padding-top: 22px;
				line-height: 28px;
				letter-spacing: 0.05em;
				font-weight: 600;
				cursor: default;
			}
			> .buttonAccoint {
				padding: 20px;
				border: 1px solid black;
			}
		}
		> .rightBlock {
			display: flex;
			flex-direction: column;
			padding: 60px 40px 60px 40px;
			gap: 50px;
			text-align: center;
			background: #f3f3fb;
			border-radius: 45px;
			cursor: default;
			.buttons {
				display: flex;
				justify-content: center;
				width: 400px;
				height: 100px;
				background: #7091C2;
				outline: none;
				border-radius: 24px;
				font-size: 24px;
				font-weight: 700;
				letter-spacing: 0.05em;
				color: white;
			}
			.buttons:hover {
				background: #5880BC;
				color: white;
				box-shadow: 0 0 6px #5880BC;
				transition: ease-in-out 0.2s;
			}
		}
	}
	.containerInfoBlock {
		background: rgb(243 243 251);
		margin-top: -220px;
		border-radius: 220px 220px 0 0;
		cursor: default;
		> .infoBlock {
			display: grid;
			grid-template-columns: 1fr 1fr;
			border-radius: 14px;
			padding: 100px 115px 0px 115px;
			gap: 10px;
			width: 100%;
			.imgPost {
				border-radius: 14px;
			}
			.infoTextPost {
				padding-left: 30px;
				display: flex;
				flex-direction: column;
				gap: 25px;
				h1 {
					font-size: 30px;
					font-weight: bold;
				}
				ul {
					padding-left: 25px;
					list-style-type: disc;
					font-weight: 500;
				}
				p {
					font-weight: 500;
				}
			}
		}
	}
	.start {
		padding: 60px;
		text-align: center;

		button {
			text-align: center;
			color: white;
			width: 300px;
			height: 80px;
			border-radius: 14px;
			background: #7091C2;
			font-size: 34px;
		}
		button:hover {
            background: #5880BC;
			box-shadow: 0 0px 6px #5880BC;
			transition: ease-in-out 0.2s;
        }
	}
}
